In [164]:
from dbm import error
from unittest.mock import inplace

import numpy as np
import pandas as pd
from IPython.utils.text import columnize
from isapi.samples.redirector import excludes
from unicodedata import normalize

In [165]:
df = pd.read_excel("../data/Basic research participation information .xlsx")

In [167]:
df.drop(columns=["Date of study consent","Date of study consent withdrawal","Religion (other)","Self-harm in the past month (Y/N)"],inplace=True)

In [ ]:
(df.isna().sum()/len(df))*100

In [5]:
(df.isna().sum(axis=1)/df.shape[1])*100

0     82.857143
1     80.000000
2     77.142857
3     31.428571
4     31.428571
        ...
67    28.571429
68    85.714286
69    91.428571
70    91.428571
71    28.571429
Length: 72, dtype: float64

In [168]:
df.dropna(thresh=df.shape[1]*0.6,axis=0,inplace=True)

In [169]:
from datetime import date,datetime

def calculate_age(birthdate):
    bdate = datetime.strptime(str(birthdate), "%Y%m%d").date()
    today = date.today()
    age = today.year - bdate.year - ((today.month, today.day) < (bdate.month, bdate.day))
    return age

df["Age"]=df["Date of birth"].apply(calculate_age)

In [144]:
df[df.isna().sum().sort_values(ascending=False).index.to_list()]

,Recent drinking information,Education level (other),Current or past problems with drinking status,Occupation (other),Past 12 weeks smoking status,Number of suicide attempts in past month,Amount of smoking,Age at first suicide attempt,Occupation,Experience of physical illness,...,Date of birth,Education level,Past smoking status,Psychiatric illnesses,Marital status,Have a job,Weight,Drinking status,Suicide attempt status,Age
3,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,Office Worker,NaN,...,19950426,Bachelor's Degree,N,N,N,Y,55.0,Y,N,29
4,NaN,NaN,NaN,NaN,Y,NaN,5.0,NaN,Office Worker,NaN,...,19880211,Master's Degree,Y,N,Y,Y,72.0,Y,N,37
5,NaN,NaN,NaN,NaN,NaN,6.0,NaN,15.0,NaN,Diabetes Mellitus:2015,...,19960930,High school graduate,N,Y,N,N,103.0,N,Y,28
9,NaN,NaN,NaN,NaN,NaN,1.0,NaN,16.0,NaN,Epilepsy/Seizures:2020,...,19961003,Bachelor's Degree,N,Y,N,N,80.0,N,Y,28
10,NaN,NaN,NaN,Essay Instructor,NaN,NaN,NaN,41.0,Other,Hypertension:2019 | Hyperlipidemia:2019 | Stom...,...,19760319,Master's Degree,N,Y,Y,Y,65.0,N,Y,48
11,NaN,NaN,NaN,NaN,Y,NaN,15.0,NaN,NaN,Spinal Disc Disorder:2015,...,19941014,Bachelor's Degree,Y,Y,Y,N,75.0,Y,N,30
12,Beer once a week / 1 glass (500ml),NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20010131,High school graduate,N,Y,N,Y,65.0,Y,N,24
14,NaN,NaN,NaN,NaN,NaN,1.0,NaN,27.0,NaN,Epilepsy/Seizures:2016 | Spinal Disc Disorder:...,...,19920714,Bachelor's Degree,N,Y,N,N,75.0,N,Y,32
15,Fruit Wine twice a week / 55 glasses (50ml each),NaN,N,Developer,NaN,NaN,NaN,NaN,Other,NaN,...,19930503,PhD,N,Y,N,Y,55.0,Y,N,31
17,NaN,NaN,NaN,NaN,NaN,5.0,NaN,20.0,NaN,NaN,...,19901116,High school graduate,N,Y,N,N,72.0,N,Y,34
21,Soju once a week / 3 glasses (50ml each),NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19770415,High school graduate,N,Y,Y,N,60.0,Y,N,47
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Office Worker,Spinal Disc Disorder:2016 | Other (Uterine Myo...,...,19840206,Bachelor's Degree,N,Y,Y,Y,85.0,Y,N,41
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thyroid Disorder:2011,...,19830618,Master's Degree,N,Y,Y,Y,60.0,N,N,41
24,NaN,NaN,NaN,NaN,Y,NaN,19.0,26.0,NaN,NaN,...,19950925,High school graduate,Y,Y,N,N,63.0,Y,Y,29
25,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,Hypertension:2019 | Hyperlipidemia:2021 | _x00...,...,19890501,High school graduate,Y,Y,N,N,100.0,Y,N,35
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atopic Dermatitis (Eczema):2000 | Allergic Rhi...,...,20001208,High school graduate,N,Y,N,N,100.0,Y,N,24
27,NaN,NaN,NaN,NaN,Y,NaN,10.0,24.0,NaN,Atopic Dermatitis (Eczema):1990,...,19901226,Associate's Degree,Y,Y,Y,N,55.0,Y,Y,34
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Office Worker,Hyperlipidemia:2020 | Diabetes Mellitus:2020,...,19720820,PhD,N,Y,Y,Y,66.0,N,N,52
29,NaN,NaN,NaN,NaN,N,NaN,5.0,NaN,NaN,Hypertension:2019 | Hyperlipidemia:2019 | Diab...,...,19630426,High school graduate,Y,Y,Y,N,87.0,N,N,61
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Service Worker,Allergic Rhinitis:2019,...,19820110,Master's Degree,N,Y,Y,Y,47.8,Y,N,43
33,NaN,NaN,NaN,NaN,NaN,6.0,NaN,16.0,Service Worker,Atopic Dermatitis (Eczema):2001 | Allergic Rhi...,...,20010115,High school graduate,N,Y,N,Y,45.0,N,Y,24
34,NaN,NaN,NaN,NaN,NaN,3.0,NaN,22.0,NaN,NaN,...,19901126,Bachelor's Degree,N,Y,N,N,63.0,N,Y,34
38,NaN,NaN,NaN,Teacher,NaN,NaN,NaN,NaN,Other,Other (Cataract):2017,...,19720630,Bachelor's Degree,N,Y,N,Y,78.0,N,N,52
39,NaN,NaN,NaN,NaN,NaN,1.0,NaN,21.0,Office Worker,Spinal Disc Disorder:2011,...,19760920,Bachelor's Degree,N,Y,Y,Y,54.0,Y,Y,48
41,NaN,NaN,NaN,Career Military Personnel,N,NaN,20.0,NaN,Other,Hypertension:2019,...,19750530,Associate's Degree,N,Y,Y,Y,82.0,N,N,49
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Office Worker,NaN,...,19890221,Bachelor's Degree,N,Y,N,Y,63.0,Y,N,35
43,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN,Other,NaN,...,19900625,Master's Degree,N,Y,Y,Y,51.0,Y,N,34
46,NaN,NaN,NaN,NaN,NaN,2.0,0.0,16.0,NaN,NaN,...,20001020,High school graduate,N,Y,N,N,50.0,Y,Y,24
47,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,19641212,Bachelor's Degree,N,N,Y,Y,46.0,N,N,60
49,NaN,Jjjjjjjj,NaN,Hhhuuuuuuuuuuuuuuuuuuuuuuuuudueieieieieieieeie...,Y,2.0,15.0,20.0,Other,Myocardial Infarction (Heart Attack):2021,...,19890522,Other,Y,Y,N,Y,199.0,N,Y,35
50,NaN,Jjjjjjjj,NaN,Hhhuuuuuuuuuuuuuuuuuuuuuuuuudueieieieieieieeie...,Y,2.0,15.0,20.0,Other,Myocardial Infarction (Heart Attack):2021,...,19890522,Other,Y,Y,N,Y,199.0,N,Y,35
52,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN,Other,NaN,...,19900625,Master's Degree,N,Y,Y,Y,51.0,Y,N,34
53,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN,Other,NaN,...,19900625,Master's Degree,N,Y,Y,Y,51.0,Y,N,34
54,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,Office Worker,NaN,...,19950426,Bachelor's Degree,N,N,N,Y,55.0,Y,N,29
55,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN,Other,NaN,...,19900625,Master's Degree,N,Y,Y,Y,51.0,Y,N,34
58,NaN,Drop out of college and get accepted to a new ...,NaN,NaN,NaN,7.0,0.0,21.0,NaN,NaN,...,20000505,Other,N,Y,N,N,48.0,N,Y,24
63,NaN,NaN,NaN,NaN,NaN,2.0,0.0,15.0,NaN,Atopic Dermatitis (Eczema):2004,...,20020126,High school graduate,N,Y,N,N,62.0,Y,Y,23
65,NaN,NaN,NaN,NaN,Y,3.0,15.0,25.0,Service Worker,Allergic Rhinitis:2004 | Asthma:2009,...,19901013,Bachelor's Degree,Y,Y,N,Y,61.0,N,Y,34
66,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14.0,NaN,NaN,...,20020908,High school graduate,N,Y,N,N,74.0,Y,Y,22
67,NaN,NaN,NaN,NaN,NaN,3.0,0.0,26.0,NaN,NaN,...,19950322,Bachelor's Degree,N,Y,N,N,84.8,N,Y,29
71,NaN,NaN,NaN,NaN,Y,6.0,20.0,17.0,NaN,NaN,...,19970317,Bachelor's Degree,Y,Y,N,Y,95.0,Y,Y,27

In [9]:
df[df.isna().sum().sort_values(ascending=False).index.to_list()[:8]]

,Recent drinking information,Education level (other),Current or past problems with drinking status,Occupation (other),Past 12 weeks smoking status,Number of suicide attempts in past month,Amount of smoking,Age at first suicide attempt
3,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Y,NaN,5.0,NaN
5,NaN,NaN,NaN,NaN,NaN,6.0,NaN,15.0
9,NaN,NaN,NaN,NaN,NaN,1.0,NaN,16.0
10,NaN,NaN,NaN,Essay Instructor,NaN,NaN,NaN,41.0
11,NaN,NaN,NaN,NaN,Y,NaN,15.0,NaN
12,Beer once a week / 1 glass (500ml),NaN,N,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,1.0,NaN,27.0
15,Fruit Wine twice a week / 55 glasses (50ml each),NaN,N,Developer,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,5.0,NaN,20.0
21,Soju once a week / 3 glasses (50ml each),NaN,N,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,Y,NaN,19.0,26.0
25,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Y,NaN,10.0,24.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,N,NaN,5.0,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,6.0,NaN,16.0
34,NaN,NaN,NaN,NaN,NaN,3.0,NaN,22.0
38,NaN,NaN,NaN,Teacher,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,1.0,NaN,21.0
41,NaN,NaN,NaN,Career Military Personnel,N,NaN,20.0,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,2.0,0.0,16.0
47,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
49,NaN,Jjjjjjjj,NaN,Hhhuuuuuuuuuuuuuuuuuuuuuuuuudueieieieieieieeie...,Y,2.0,15.0,20.0
50,NaN,Jjjjjjjj,NaN,Hhhuuuuuuuuuuuuuuuuuuuuuuuuudueieieieieieieeie...,Y,2.0,15.0,20.0
52,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN
54,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,Researcher,NaN,NaN,NaN,NaN
58,NaN,Drop out of college and get accepted to a new ...,NaN,NaN,NaN,7.0,0.0,21.0
63,NaN,NaN,NaN,NaN,NaN,2.0,0.0,15.0
65,NaN,NaN,NaN,NaN,Y,3.0,15.0,25.0
66,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14.0
67,NaN,NaN,NaN,NaN,NaN,3.0,0.0,26.0
71,NaN,NaN,NaN,NaN,Y,6.0,20.0,17.0

In [23]:
df.isna().sum().sort_values(ascending=False)

Age at first suicide attempt                      22
Occupation                                        21
Experience of physical illness                    20
Problems with drinking status                     19
Number of children                                19
Drinking information                              18
Prescription drug dosage in the past month (%)     8
List of psychiatric illnesses                      7
Religion                                           7
Income                                             6
Suicide attempt in past month                      5
Suicidal ideation in past month                    4
Experience of mental illness                       2
Past 12 weeks drinking status                      2
Prescription drugs in the past month               1
Menopausal status (M-male)                         1
Non-identifying keys                               0
Date of birth                                      0
Gender                                             0
Height                                             0
Weight                                             0
Marital status                                     0
Have a job                                         0
Education level                                    0
Psychiatric illnesses                              0
Drinking status                                    0
Past smoking status                                0
Suicide attempt status                             0
Age                                                0
dtype: int64

In [ ]:
df.columns=['id', 'Date of birth', 'Gender', 'Height', 'Weight',
       'Experience of mental illness', 'Experience of physical illness',
       'Income', 'Education level', 'Education level (other)',
       'Marital status', 'Have a job', 'Occupation', 'Occupation (other)',
       'Number of children', 'Religion', 'Psychiatric illnesses',
       'List of psychiatric illnesses', 'Past smoking status',
       'Past 12 weeks smoking status', 'Amount of smoking', 'Drinking status',
       'Problems with drinking status', 'Drinking information',
       'Past 12 weeks drinking status',
       'Current or past problems with drinking status',
       'Recent drinking information', 'Menopausal status (M-male)',
       'Suicide attempt status', 'Age at first suicide attempt',
       'Number of suicide attempts in past month',
       'Suicidal ideation in past month', 'Suicide attempt in past month',
       'Prescription drugs in the past month',
       'Prescription drug dosage in the past month (%)', 'Age']

In [175]:
df.to_csv("../data_processed/clinical.csv",index=False)